.practice-areas-main-page {
  background: #f4f5f7;
  padding-bottom: 3em;
}

.practiceArea-Homebtn {
  padding: 0.8em;
  margin-top: 2em;
  color: #1a2b3c;
  font-weight: bold;
  border: none;
  border-radius: 1em;
  width: 20%;
  cursor: pointer;
}

.practice-hero {
  padding-top: 1em;
  text-align: center;
}

.practice-hero h1 {
  color: #1a2b3c;
  font-weight: bold;
}

.practice-hero p {
  color: #4a4a4a;
}

.practice-search {
  padding: 1rem;
  text-align: center;
  width: 80%;
  margin: 0 auto;
}

.practice-search input {
  width: 300px;
  border-radius: 10px;
  border: 1px solid grey;
  text-align: center;
  padding: 12px;
  font-size: 1rem;
}

.practice-cards {
  display: grid;
  gap: 20px;
  padding: 2rem;
}

.practice-card {
  background: white;
  border: 1px solid #e1e4e8;
  padding: 20px;
  border-radius: 8px;
}

.practice-card h3 {
  color: #121212;
}

.practice-card p {
  color: #4a4a4a;
}

.practice-card .icon {
  font-size: 2rem;
  color: #c5a059;
  background: #eecf9049;

  border-radius: 5px;
  padding: 10px 5px 5px 5px;
}

.practice-cta {
  padding: 3rem 2rem;
  padding-bottom: 5rem;
  text-align: center;
  background: #0b55a0;
  max-width: 1100px;
  width: 70%;
  max-height: 400px;
  margin: 4rem auto;
  border-radius: 12px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  position: relative;
  overflow: hidden;
}

/* Gradient Overlay */
.practice-cta::before,
.practice-cta::after {
  content: "";
  position: absolute;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.15);
  z-index: 0;
}

.practice-cta::before {
  width: 180px;
  height: 180px;
  top: -60px;
  left: -60px;
}

.practice-cta::after {
  width: 260px;
  height: 260px;
  bottom: -100px;
  right: -100px;
}

.practice-cta h2,
p {
  color: white;
  line-height: 25px;
}

.cta-buttons {
  display: block;
  gap: 16px;
  justify-content: center;
  margin-top: 20px;
}

.primary-btn {
  padding: 1em;
  font-size: 1em;
  font-weight: bold;
  color: #0b55a0;
  border-radius: 10px;
  border: none;
  margin-top: 2em;
  cursor: pointer;
}

.secondary-btn {
  padding: 1em;
  font-size: 1em;
  font-weight: bold;
  color: white;
  background-color: transparent;
  border-radius: 10px;
  border: 1px solid white;
  width: 14em;
  max-width: 14em;
  margin-top: 2em;
  cursor: pointer;
}

/* Tablet */
@media (min-width: 768px) {
  .practice-cards {
    grid-template-columns: repeat(3, 1fr);
  }
}
