/* PAGE */
.attorneys-page {
  padding: 20px;
  background: #e5e7eb;
}

/* HERO */
.attorneys-hero {
  margin-bottom: 40px;
}

.hero-text h1 {
  font-size: 1.8rem;
  margin-bottom: 20px;
  margin-left: 20px;
  margin-right: 20px;
  text-align: center;
  color: rgb(58, 58, 58);
}

.hero-text p {
  color: #555;
}

.hero-stat-card {
  position: relative;
  margin-top: 20px;
}

.hero-stat-card img {
  width: 100%;
  border-radius: 10px;
}

.stat-badge {
  position: absolute;
  bottom: 50px;
  left: 10px;
  background: #3d3d3d;
  opacity: 0.7;

  color: white;
  padding: 10px 12px;
  border-radius: 6px;
  font-size: 1.2rem;
  font-weight: bolder;
  text-align: center;
}

/* SEARCH */
.attorney-search {
  margin: 30px 0;
}

.attorney-search input {
  width: 80%;
  padding: 12px;
  border-radius: 8px;
  border: 1px solid #ddd;
  text-align: left;
  margin: 0 auto;
}

/* GRID */
.attorneys-grid {
  display: grid;
  gap: 20px;
}

.attorney-card {
  border: 1px solid #eee;
  border-radius: 10px;
  padding: 16px;
  text-align: center;
  background: white;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.attorney-card img {
  width: 100%;
  height: 410px;
  object-fit: cover;
  border-radius: 8px;
  margin-bottom: 10px;
  display: block;
  overflow: hidden;
}

.attorney-card img:hover {
  transform: scale(1.01);
  transition: all 0.3s ease-in-out;
}

.attorney-card h2 {
  font-size: 1.1rem;
  color: #121212;
}

.role {
  font-size: 0.9rem;
  color: blue;
  font-weight: 600;
}

.practice {
  font-size: 0.9rem;
  margin-bottom: 12px;
  color: #4a4a4a;
  font-weight: 300;
}

.attorney-card button {
  padding: 8px 12px;
  border: none;
  background: #e4e2e2;
  color: #1a2b3c;
  font-weight: 600;
  border-radius: 6px;
  cursor: pointer;
  width: 80%;
  overflow: hidden;
}

.attorney-card button:hover {
  background: blue;
  color: white;
}

/* TABLET & DESKTOP */
@media (min-width: 768px) {
  .attorneys-hero {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 3rem;
  }

  .hero-text {
    flex: 1;
    text-align: center;
  }

  .hero-text h1 {
    font-size: 2.5rem;
    color: #121212;
  }

  .hero-text p {
    font-size: 1.1rem;
    line-height: 1.6;
  }

  .hero-stat-card {
    flex: 1;
    margin-top: 0;
  }

  .hero-stat-card img {
    height: 400px;
    width: 700px;
    object-fit: cover;
  }

  .stat-badge {
    bottom: 20px;
    left: 20px;
  }

  /* SEARCH */
  .attorney-search {
    display: flex;
    justify-content: center;
  }

  .attorney-search input {
    width: 50%;
  }

  /* ATTORNEYS */

  .attorneys-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;
  }
}
