.hero {
  height: 100vh; /* full screen height */
  background-image: url("../assets/images/hero_img_quaity.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  font-size: large;
}

.goldentext {
  color: #c5a059; /* gold-ish law firm color */
}

.goldentext-bg {
  background: #46391f;
  color: #ebc174;
  width: fit-content;
  font-size: 0.8em;
  padding: 0.01px 8px;
  border-radius: 4px;
}

.hero-overlay {
  background: rgba(0, 0, 0, 0.6); /* dark overlay */
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
}

.hero-content {
  color: white;
  padding: 0 20px;
  max-width: 600px;
  margin-left: 40px;
}

.hero-content h1 {
  font-size: 2.5rem;
  margin-bottom: 16px;
}

.hero-content p {
  font-size: 1.1rem;
  margin-bottom: 24px;
  line-height: 1.6;
}

.hero-btn {
  padding: 12px 20px;
  background: #c9a24d; /* gold-ish law firm color */
  border: none;
  color: #000;
  font-weight: 600;
  cursor: pointer;
  border-radius: 6px;
}

@media (min-width: 768px) {
  .hero-content {
    text-align: center;
    align-items: center;
    margin: 0 auto;
  }

  .hero-content h1 {
    font-size: 3rem;
  }

  .hero-content p {
    font-size: 1.2rem;
  }

  .hero-buttons {
    justify-content: center;
  }

  .goldentext-bg {
    padding: 5px;
    opacity: 0.5;
    color: white;
  }
}
